# Supabase Configuration Template
NEXT_PUBLIC_SUPABASE_URL=https://xgejvvaxbjgcozuvznkw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnZWp2dmF4YmpnY296dXZ6bmt3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcyMzI3MTYsImV4cCI6MjEwMjgwODcxNn0.JENZF66irEbpeBTrALWr-y36KzaTVHBtaJ0jiZgSS4k
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_figzWE83gKcxEfDFmZmDzQ_82GaW4Db
